body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}
.hidden {
    display: none;
}
.visible {
    display: block;
}
.exercise {
    margin-top: 20px;
    text-align: center;
}
.image-click {
    cursor: pointer;
}
.links {
    margin-bottom: 20px;
}
.links a {
    margin: 0 10px;
    text-decoration: none;
    color: blue;
}
.horizontal {
    display: flex;
    align-items: center;
    justify-content: center;
}
.horizontal div {
    margin: 0 10px;
    text-align: center;
}
.horizontal img {
    display: block;
    margin-bottom: 5px;
    width: 200px;
    height: 200px;
}

button {
    margin-top: 20px;
}